<%- include('components/head') %>

<%- include('components/nav') %>
<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-md-8">
      <h1>All Comments</h1>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-md-end">
      <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
        Comment!</button>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%- include('comments/commentForm') %>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-3">
    <% for(let comment of comments){ %>
    <div class="col">
      <a class="text-secondary" href="/comments/<%= comment.id %>" style="text-decoration: none;">
        <div class="card border-success h-100">
          <div class="card-header bg-warning border-success">
            <h5 class="card-title text-bold text-center"><%= comment.username %></h5>
          </div>
          <div class="card-body">
            <p class="card-text"><%= comment.comment %></p>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</div>
<%- include('components/footer') %>